.AnswerOption {
  clip-path: var(--mobile-outside-border);
  padding: .25rem;
  margin: 1rem 0;
  text-align: center;
  background-color:rgba(255,255,255,.8);
}

.AnswerOption button {
  clip-path: var(--mobile-inside-border);
  background-color: #000;
  display: block;
  color:#fff;
  width: 100%;
  padding: .25rem 0;
  border: none;
  font-size: 1.8rem;
}



@media screen and (.hover: none) {

}

@media screen and (min-width: 786px) {
  .AnswerOption {
    width: 50%;
  }

  .AnswerOption button:hover {
    background-color: var(--color-orange);
  }
}
